In [1]:
import pandas as pd
import numpy as np

In [38]:
#Read the archive from its relative path

amz = pd.read_csv(r"Datasets\amazon_prime_titles.csv")
dsny = pd.read_csv(r"Datasets\disney_plus_titles.csv")
hlu = pd.read_csv(r"Datasets\hulu_titles.csv")
ntx = pd.read_json(r"Datasets\netflix_titles.json")

In [41]:
#show general info from each of the archives (remember to erase the # of the archive you want info from)

amz_info = amz.info()
#dsny_info = dsny.info()
#hlu_info = hlu.info()
#ntx_info = ntx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [42]:
#show the null quantity of every archive (remember to erase the # of the archive you want info from)

amz_nul = amz.isnull().sum()
dsny_nul = dsny.isnull().sum()
hlu_nul = hlu.isnull().sum()
ntx_nul = ntx.isnull().sum()
amz_nul
#dsny_nul
#hlu_nul
#ntx_nul

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [43]:
#show the null quantity in percentage 

amz_nul_p = amz.isnull().mean() * 100
dsny_nul_p = dsny.isnull().mean() * 100
hlu_nul_p = hlu.isnull().mean() * 100
ntx_nul_p = ntx.isnull().mean() * 100
amz_nul_p
#dsny_nul_p
#hlu_nul_p
#ntx_nul_p

show_id          0.000000
type             0.000000
title            0.000000
director        21.534961
cast            12.753413
country         93.049235
date_added      98.396773
release_year     0.000000
rating           3.485726
duration         0.000000
listed_in        0.000000
description      0.000000
dtype: float64

QUESTION A)  Quantity of movies and series by platform

In [44]:
#make a copy of the data frame so we dont mees up the original...
amz_c = amz.copy()
dsny_c = dsny.copy()
hlu_c = hlu.copy()
ntx_c = ntx.copy()

In [45]:
#create the function to identify the elements that are series
def identify_series(palabra):
    last = palabra[-3:]
    if last != "min":
        return "serie"
    else:
        return palabra

 #create the function to identify the elements that are movies   
def identify_movies(palabra):
    last = palabra[-3:]
    if last == "min":
        return "movie"
    else:
        return palabra

1st separate the amz df

In [46]:
# asign the function to the column duration
amz_c["duration"] = amz_c["duration"].apply(lambda x: identify_series(x))

#from column duration eliminate the ones that are serie and make a new data frame
amz_movies = amz_c[amz_c["duration"]!="serie"]

#show the shape to see the diference in the rows
print(f"size of amz_c df {amz_c.shape}")
print(f"size of amz_movies df {amz_movies.shape}")

size of amz_c df (9668, 12)
size of amz_movies df (7814, 12)

In [47]:
# asign the function to the column duration
amz_c = amz.copy() #recreate the amz_c data frame
amz_c["duration"] = amz_c["duration"].apply(lambda x: identify_movies(x))

#from column duration eliminate the ones that are movie and make a new data frame
amz_series = amz_c[amz_c["duration"]!="movie"]

#show the shape to see the diference in the rows
print(f"size of amz_c df {amz_c.shape}")
print(f"size of amz_series df {amz_series.shape}")

size of amz_c df (9668, 12)
size of amz_series df (1854, 12)

In [48]:
#checking if the data frames are correct
print(amz_movies.shape[0] + amz_series.shape[0])
print(amz_c.shape[0])

9668
9668

2nd separate the dsny df

In [49]:
# asign the function to the column duration
dsny_c["duration"] = dsny_c["duration"].apply(lambda x: identify_series(x))

#from column duration eliminate the ones that are serie and make a new data frame
dsny_movies = dsny_c[dsny_c["duration"]!="serie"]

#show the shape to see the diference in the rows
print(f"size of dsny_c df {dsny_c.shape}")
print(f"size of dsny_movies df {dsny_movies.shape}")

size of dsny_c df (1450, 12)
size of dsny_movies df (1052, 12)

In [50]:
# asign the function to the column duration
dsny_c = dsny.copy()
dsny_c["duration"] = dsny_c["duration"].apply(lambda x: identify_movies(x))

#from column duration eliminate the ones that are movie and make a new data frame
dsny_series = dsny_c[dsny_c["duration"]!="movie"]

#show the shape to see the diference in the rows
print(f"size of dsny_c df {dsny_c.shape}")
print(f"size of dsny_series df {dsny_series.shape}")

size of dsny_c df (1450, 12)
size of dsny_series df (398, 12)

In [51]:
#checking if the data frames are correct
print(dsny_movies.shape[0] + dsny_series.shape[0])
print(dsny_c.shape[0])

1450
1450

3rd separate the hlu df

In [52]:
#Null values on the duration column
print(f"The hulu data frame has {round(hlu_nul[9],2)} null values on the duration column that represent the {round(hlu_nul_p[9],2)}% of the values")

The hulu data frame has 479 null values on the duration column that represent the 15.59% of the values

In [53]:
#since the hulu data frame its not complete in the duration column, separate movies and series by other way
hlu_movies = hlu_c[hlu_c["type"]=="Movie"]
hlu_series = hlu_c[hlu_c["type"]!="Movie"]

print(f"Size of hlu_movies {hlu_movies.shape} and hlu_series {hlu_series.shape}")

#make sure we are not missing a value
print(f"{hlu_movies.shape[0] + hlu_series.shape[0] == hlu_c.shape[0]}")

Size of hlu_movies (1484, 12) and hlu_series (1589, 12)
True

In [54]:
#since the hulu data frame its not complete in the duration column, separate movies and series by other way
ntx_movies = ntx_c[ntx_c["type"]=="Movie"]
ntx_series = ntx_c[ntx_c["type"]!="Movie"]

print(f"Size of ntx_movies {ntx_movies.shape} and ntx_series {ntx_series.shape}")

#make sure we are not missing a value
print(f"{ntx_movies.shape[0] + ntx_series.shape[0] == ntx_c.shape[0]}")

Size of ntx_movies (6131, 12) and ntx_series (2676, 12)
True

ANSWER TO QUESTION A) Quantity of Series and movies by platform

In [55]:
movies = [amz_movies.shape[0], dsny_movies.shape[0], hlu_movies.shape[0], ntx_movies.shape[0]]
series = [amz_series.shape[0], dsny_series.shape[0], hlu_series.shape[0], ntx_series.shape[0]]
platforms = ["Amazon","Disney","Hulu","Netfilx"]

for movie, serie, platform in zip(movies,series,platforms):
    print(f"The {platform} platform has {movie} movies and {serie} series")

The Amazon platform has 7814 movies and 1854 series
The Disney platform has 1052 movies and 398 series
The Hulu platform has 1484 movies and 1589 series
The Netfilx platform has 6131 movies and 2676 series

QUESTION B) Director that has the most quantity of movies by platform

In [58]:
#look for the general info of each data frame (remember to erase the # of the archive you want info from)
amz_movies_info = amz_movies.info()
#dsny_movies_info = dsny_movies.info()
#hlu_movies_info = hlu_movies.info()
#ntx_movies_info = ntx_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7814 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7814 non-null   object
 1   type          7814 non-null   object
 2   title         7814 non-null   object
 3   director      7586 non-null   object
 4   cast          7050 non-null   object
 5   country       569 non-null    object
 6   date_added    16 non-null     object
 7   release_year  7814 non-null   int64
 8   rating        7483 non-null   object
 9   duration      7814 non-null   object
 10  listed_in     7814 non-null   object
 11  description   7814 non-null   object
dtypes: int64(1), object(11)
memory usage: 793.6+ KB

In [60]:
#show the null quantity of every archive (remember to erase the # of the archive you want info from)

amz_movies_nul = amz_movies.isnull().sum()
dsny_movies_nul = dsny_movies.isnull().sum()
hlu_movies_nul = hlu_movies.isnull().sum()
ntx_movies_nul = ntx_movies.isnull().sum()
amz_movies_nul
#dsny_movies_nul
#hlu_movies_nul
#ntx_movies_nul

show_id            0
type               0
title              0
director         228
cast             764
country         7245
date_added      7798
release_year       0
rating           331
duration           0
listed_in          0
description        0
dtype: int64

In [61]:
#show the null quantity in percentage 

amz_movies_nul_p = amz_movies.isnull().mean() * 100
dsny_movies_nul_p = dsny_movies.isnull().mean() * 100
hlu_movies_nul_p = hlu_movies.isnull().mean() * 100
ntx_movies_nul_p = ntx_movies.isnull().mean() * 100
amz_movies_nul_p
#dsny_movies_nul_p
#hlu_movies_nul_p
#ntx_movies_nul_p

show_id          0.000000
type             0.000000
title            0.000000
director         2.917840
cast             9.777323
country         92.718198
date_added      99.795239
release_year     0.000000
rating           4.235987
duration         0.000000
listed_in        0.000000
description      0.000000
dtype: float64

In [62]:
#look for the quantity of null values in the director column
platforms = ["Amazon","Disney","Hulu","Netfilx"]
movies_null = [amz_movies_nul[3],dsny_movies_nul[3],hlu_movies_nul[3],ntx_movies_nul[3]]
movies_null_p = [round(amz_movies_nul_p[3],2),round(dsny_movies_nul_p[3],2),round(hlu_movies_nul_p[3],2),round(ntx_movies_nul_p[3],2)]

for platform, value, percentage in zip(platforms, movies_null,movies_null_p):
    print(f"In the {platform} data frame the director column has {value} null values that represents the {percentage}%")    
    print("")



print(f"Seeing this it will be imposible to look for the directors in the hulu data frame")
print(f"propouse to the boss diferent source of information")

In the Amazon data frame the director column has 228 null values that represents the 2.92%

In the Disney data frame the director column has 75 null values that represents the 7.13%

In the Hulu data frame the director column has 1481 null values that represents the 99.8%

In the Netfilx data frame the director column has 188 null values that represents the 3.07%

Seeing this it will be imposible to look for the directors in the hulu data frame
propouse to the boss diferent source of information

In [65]:
#Director with more movies in the Amazon platform

#since the null values are the 2.92%, just drop them
amz_movies_dropna_dir = amz_movies.dropna(subset=["director"])   

#obtain the count of each director
amz_movies_dir = amz_movies_dropna_dir['director'].value_counts()

#create a data frame with the array
df_amz_dir = pd.DataFrame({"movies": amz_movies_dir})

#obtain the 3 directors with more movies
df_amz_dir = df_amz_dir.iloc[:3]

df_amz_dir

                       movies
Mark Knight               113
Cannis Holder              61
Moonbug Entertainment      37

In [66]:
#Director with more movies in the Disney platform

#since the null values are the 7.13%, just drop them
dsny_movies_dropna_dir = dsny_movies.dropna(subset=["director"])   

#obtain the count of each director
dsny_movies_dir = dsny_movies_dropna_dir['director'].value_counts()

#create a data frame with the array
df_dsny_dir = pd.DataFrame({"movies": dsny_movies_dir})

#obtain the 3 directors with more movies
df_dsny_dir = df_dsny_dir.iloc[:3]

df_dsny_dir

               movies
Jack Hannah        17
John Lasseter      16
Paul Hoen          16

In [67]:
#Director with more movies in the Netflix platform

#since the null values are the 7.13%, just drop them
ntx_movies_dropna_dir = ntx_movies.dropna(subset=["director"])   

#obtain the count of each director
ntx_movies_dir = ntx_movies_dropna_dir['director'].value_counts()

#create a data frame with the array
df_ntx_dir = pd.DataFrame({"movies": ntx_movies_dir})

#obtain the 3 directors with more movies
df_ntx_dir = df_ntx_dir.iloc[:3]

df_ntx_dir

                        movies
Rajiv Chilaka               19
Raúl Campos, Jan Suter      18
Suhas Kadav                 16

ANSWER TO QUESTION B)  directors with more movies per platform

In [68]:
directors = [df_amz_dir,df_dsny_dir,df_ntx_dir]
platforms = ["Amazon","Disney","Netflix"]

for director,platform in zip(directors,platforms):
    print(f"The top 3 movie directos on {platform} platform are \n {director}")
    print("")

The top 3 movie directos on Amazon platform are
                        movies
Mark Knight               113
Cannis Holder              61
Moonbug Entertainment      37

The top 3 movie directos on Disney platform are
                movies
Jack Hannah        17
John Lasseter      16
Paul Hoen          16

The top 3 movie directos on Netflix platform are
                         movies
Rajiv Chilaka               19
Raúl Campos, Jan Suter      18
Suhas Kadav                 16

QUESTION C) Maximun duration of movies/series by platform and year

In [69]:
#1st convert the elements from str to int in the duration column
#define a function that convert from str to int the elemnts of the duration column
def convert_str_int(elemento):
    elemento = elemento.replace(" min","")
    elemento = elemento.replace(" Season","")
    elemento = elemento.replace("s","")
    elemento = int(elemento)
    return elemento

In [70]:
#amazon Plataform

#create a new column named "duration/min" by applying the convert function to the "duration" column
amz_movies["duration/min"] = amz_movies["duration"].apply(lambda x: convert_str_int(x))
amz_series["duration/season"] = amz_series["duration"].apply(lambda x: convert_str_int(x))

#drop the duration column
amz_movies = amz_movies.drop("duration",axis=1)
amz_series = amz_series.drop("duration",axis=1)

#obtain the max duration by year
amz_movies_year_maxduration = amz_movies.loc[amz_movies.groupby("release_year")["duration/min"].idxmax()]
amz_series_year_maxduration = amz_series.loc[amz_series.groupby("release_year")["duration/season"].idxmax()]

C:\Users\willi\AppData\Local\Temp\ipykernel_1332\854263215.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amz_series["duration/season"] = amz_series["duration"].apply(lambda x: convert_str_int(x))

In [71]:
#Disney Plataform

#create a new column named "duration/min" by applying the convert function to the "duration" column
dsny_movies["duration/min"] = dsny_movies["duration"].apply(lambda x: convert_str_int(x))
dsny_series["duration/season"] = dsny_series["duration"].apply(lambda x: convert_str_int(x))

#drop the duration column
dsny_movies = dsny_movies.drop("duration",axis=1)
dsny_series = dsny_series.drop("duration",axis=1)

#obtain the max duration by year
dsny_movies_year_maxduration = dsny_movies.loc[dsny_movies.groupby("release_year")["duration/min"].idxmax()]
dsny_series_year_maxduration = dsny_series.loc[dsny_series.groupby("release_year")["duration/season"].idxmax()]

C:\Users\willi\AppData\Local\Temp\ipykernel_1332\1584190291.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsny_series["duration/season"] = dsny_series["duration"].apply(lambda x: convert_str_int(x))

In [72]:
#Hulu Plataform

#drop the null values that are in the duration column
hlu_movies = hlu_movies.dropna(subset="duration")

#create a new column named "duration/min" by applying the convert function to the "duration" column
hlu_movies["duration/min"] = hlu_movies["duration"].apply(lambda x: convert_str_int(x))
hlu_series["duration/season"] = hlu_series["duration"].apply(lambda x: convert_str_int(x))

#drop the duration column
hlu_movies = hlu_movies.drop("duration",axis=1)
hlu_series = hlu_series.drop("duration",axis=1)

#obtain the max duration by year
hlu_movies_year_maxduration = hlu_movies.loc[hlu_movies.groupby("release_year")["duration/min"].idxmax()]
hlu_series_year_maxduration = hlu_series.loc[hlu_series.groupby("release_year")["duration/season"].idxmax()]

C:\Users\willi\AppData\Local\Temp\ipykernel_1332\2411912769.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hlu_series["duration/season"] = hlu_series["duration"].apply(lambda x: convert_str_int(x))

In [73]:
#Netflix Plataform

#drop the null values that are in the duration column
ntx_movies = ntx_movies.dropna(subset="duration")

#create a new column named "duration/min" by applying the convert function to the "duration" column
ntx_movies["duration/min"] = ntx_movies["duration"].apply(lambda x: convert_str_int(x))
ntx_series["duration/season"] = ntx_series["duration"].apply(lambda x: convert_str_int(x))

#drop the duration column
ntx_movies = ntx_movies.drop("duration",axis=1)
ntx_series = ntx_series.drop("duration",axis=1)

#obtain the max duration by year
ntx_movies_year_maxduration = ntx_movies.loc[ntx_movies.groupby("release_year")["duration/min"].idxmax()]
ntx_series_year_maxduration = ntx_series.loc[ntx_series.groupby("release_year")["duration/season"].idxmax()]

C:\Users\willi\AppData\Local\Temp\ipykernel_1332\423320422.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ntx_series["duration/season"] = ntx_series["duration"].apply(lambda x: convert_str_int(x))

ANSEWER TO QUESTION C) longer movie/serie by year and platform

In [74]:
#for knowing each longer movie/serie by year and plataform you just have to print the next data frames
#(remember to erase the # of the archive you want info from)

amz_movies_year_maxduration
#amz_series_year_maxduration

#dsny_movies_year_maxduration
#dsny_series_year_maxduration

#hlu_movies_year_maxduration
#hlu_series_year_maxduration

#ntx_movies_year_maxduration
#ntx_series_year_maxduration

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration/min
83,s84,Movie,Within Our Gates,Oscar Micheaux,"Evelyn Preer, Flo Clements",NaN,NaN,1920,13+,Drama,"Abandoned by her fiance, an educated negro wom...",78
1425,s1426,Movie,One Exciting Night,D.W. Griffith,"Carol Dempster, Henry Hull",NaN,NaN,1922,13+,Suspense,"A young orphan girl, courted by an unpleasant ...",145
1684,s1685,Movie,Merry-Go-Round,"Rupert Julian, Eric von Stroheim","Norman Kerry, Mary Philbin, Albert Conti, Al E...",NaN,NaN,1923,13+,Drama,"In Vienna circa World War I, decadent Count Fr...",113
1134,s1135,Movie,Romola,Henry King,"Lillian Gish, Dorothy Gish",NaN,NaN,1924,NR,Drama,"In Renaissance Florence, Tito, a no-good young...",118
2629,s2630,Movie,"Don Q, Son of Zorro (Silent)",Donald Crisp,"Douglas Fairbanks Sr, Mary Astor, Jack McDonal...",NaN,NaN,1925,13+,Action,"The Son of Zorro, Don Cesar De La Vega, is sen...",111
...,...,...,...,...,...,...,...,...,...,...,...,...
3850,s3851,Movie,Himalayan Singing Bowls 9 hours,Mark Knight,"Niv Dayan, Sarah Lærke",NaN,NaN,2017,ALL,Special Interest,This ambient sleep and meditation video is a f...,550
933,s934,Movie,Soothing Surf at Del Norte for Sleep black screen,Mark Knight,NaN,NaN,NaN,2018,ALL,Special Interest,Black screen reduces the blue-spectrum light w...,601
3688,s3689,Movie,Box Fan medium 8 Hours for Sleep,Mark Knight,NaN,NaN,NaN,2019,ALL,Special Interest,Medium speed Box Fan for Sleep 8 hours capture...,540
7615,s7616,Movie,Night Sky With Nature Sounds with 432hz nature...,Mark Knight,Mary Kay Kayaltizer,NaN,NaN,2020,ALL,Special Interest,Slumber off to a deep and refreshing sleep wit...,540
8931,s8932,Movie,Enclosed,St. Joseph Nwanze,Francis Duru Paul Sambo Bruno Iwuoha,NaN,NaN,2021,16+,"Drama, Romance",Three freinds with different phases in marriag...,188

QUESTION  D) movies that are exclusive of each platform (example: type the platform netflix and return all the movies that just apear on the netflx data frame)

In [75]:
#make a "plt/ID" column to identify platforms
amz_movies["plt/ID"] = "amz"
dsny_movies["plt/ID"] = "dsny"
hlu_movies["plt/ID"] = "hlu"
ntx_movies["plt/ID"] = "ntx"

#concatenate all the data frames in one
df_movies = pd.concat([amz_movies,dsny_movies,hlu_movies,ntx_movies], axis=0)

In [76]:
#drop all the movies title that repeat/duplicate
df_movies_dd = df_movies.drop_duplicates(subset=["title"],keep=False)

In [77]:
#show the shape of each platform to see how much the quantity of movies decrease
print(df_movies.shape)
df_movies_dd.shape

(15999, 13)

(15113, 13)

In [78]:
#create the function that will look for the exclusive movies depending on the platform
def platform_search(platform):
    if platform == "Amazon":
        print(f"The movies that are exclusive of {platform} platform will present in the next data frame")
        return df_movies_dd[df_movies_dd["plt/ID"]=="amz"]
    
    elif platform == "Disney":
        print(f"The movies that are exclusive of {platform} platform will present in the next data frame")
        return df_movies_dd[df_movies_dd["plt/ID"]=="dsny"]
    
    elif platform == "Hulu":
        print(f"The movies that are exclusive of {platform} platform will present in the next data frame")
        return df_movies_dd[df_movies_dd["plt/ID"]=="hlu"]
    
    elif platform == "Netflix":
        print(f"The movies that are exclusive of {platform} platform will present in the next data frame")
        return df_movies_dd[df_movies_dd["plt/ID"]=="ntx"]
    
    else:
        return "Wrong word type again"

ANSWER TO QUESTION D) exclusive movies from each platform

In [79]:
#type the platform you want to search for
platform_search("Disney")

The movies that are exclusive of Disney platform will present in the next data frame

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration/min,plt/ID
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,"Animation, Family",Join Mickey and the gang as they duck the halls!,23,dsny
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,Comedy,Santa Claus passes his magic bag to a new St. ...,91,dsny
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,23,dsny
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,Musical,"This is real life, not just fantasy!",41,dsny
5,s6,Movie,Becoming Cousteau,Liz Garbus,"Jacques Yves Cousteau, Vincent Cassel",United States,"November 24, 2021",2021,PG-13,"Biographical, Documentary",An inside look at the legendary life of advent...,94,dsny
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,108,dsny
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,106,dsny
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",107,dsny
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,112,dsny
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,2,dsny

QUESTION E) Search for the most popular actor by platform

In [334]:
#make a list of actors by splitting each actor from the "cast" column 
actors = amz["cast"].str.split(", ").explode().tolist()

#count how many times the actors appears 
actors = pd.Series(actors).value_counts()

popular_actor = actors.index[0]
popular_actor

'Maggie Binkley'

In [371]:
amz = amz["release_year"].sort_values

TypeError: 'method' object is not subscriptable